.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}
header {
  height: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
}
nav {
  width: 100%;
  height: 50px;
  color: white;
 
  display: flex;
  justify-content:space-around;
  
  padding: 10px;
  align-items: center; 
}
nav ul {

  padding: 0;
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.logo {
  background-image: url('./logo.jpg');
  height: 28px;
  width: 10px;
  padding-right: 100px;
  padding-bottom: 40px;
  margin-right: 5px;
  margin-left: 0;

}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 16px;
  font: bold;
  width: 300px;
  justify-content: space-between;
}
li {
  list-style: none;
}

.menu-container li {
  padding: 10px;
  padding-right:5px;
  background: linear-gradient(#2f78c0, #0f4071 70%);
  color: white;
  margin: 0 auto;
 
  max-width: 900px;
  width: 90%;
  border-radius: 5px;
  border: 2px solid white;
}
a {
  color: white;

  text-decoration-line: none;

  font-weight: 700;
}

hero {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url("./Rawson\ Lake\ 2\,\ Alberta.jpg");
  background-size: cover;
  background-position: 50% 0%;
  height: 80vh;
  display: flex;
  
  margin-left: 80px;
  margin-right: 80px;
  
  padding-bottom: 40px;
}
.primary-button {
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid white;
  font-weight: 700;
  margin-right: 5px;
  margin-top:10px;
}
.secondary-button {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid white;
  font-weight: 700;
  margin-top: 10px;
}
.hero-content {
  color: white;
  margin: 0 auto;
  margin-bottom: px;
  max-width: 900px;
  /* width: 90%; */
  padding-top: 50px;
  padding-bottom: 10px;
  margin-top: 200px;
}
/**********************************hamburger menu***********************************/

.menu-button {
  width:30px;
  height: 30px;
 padding-left: 5px;
  display: none;
  border: none;
  background: linear-gradient(#2f78c0, #0f4071 70%);}
.menu-button img {
  width: 20px;
}
.menu-button svg {
  height: 20px;
  width: 20px;
  
}
.menu-button:hover {
  cursor: pointer;
}

.menu-button #bottom-bar,
.menu-button #middle-bar {
  transition: 0.2s;
  transform-origin: 50% 50%;
}
.menu-button:hover #middle-bar {
  width: 100px;
  transform: rotate(180deg);
}
.menu-button:hover #bottom-bar {
  width: 100px;
}
@media (max-width: 600px) {
  .menu-button {
    display: block;
  }
  .menu-container {
    display: none;
  }
}
/*********************************Main Section**************************************/

main {
   margin: 10px 40px 10px 3 00px;
  padding: 30 0 10 100; 
}

p{

font-size: 18px;
font-family: 'Courgette', cursive;
    }
.image1{
  display: inline-block;
  margin: 10px 10px 0px 10px;
  background-size: cover;
  background-repeat: 50% 20%;
  padding: 10;
  padding-bottom: 10px;
  margin-bottom: 10px;
  height: 200px;
  width: 300px;
  background-image: url('./Kanasaskas\ Village\ 6.jpg');
  
}

.image2 {
  margin: 10px 10px 0px 10px;
  padding: 10;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: 50% 20%;
  background-image: url('./20171009_171722.jpg');
  height: 200px;
  width: 300px;
  display: inline-block;
}
.image3{
  margin: 10px 10px 0px 10px;
  padding: 10;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background-size: cover;
  background-repeat: 50% 20%;
  background-image: url('./20181027_145405.jpg');
  height: 200px;
  width: 300px;
}

h1{

  text-align: center;

}

.logo h1{
text-align: center;
color:rgb(5, 5, 146);
}


/************************************************************************-------Footer Section--------------/*****************************************************************/
footer {
  padding: 80px 0;
  margin-top: 80px;
}
.footer-box {
  display: block;
  justify-content: flex-start;
}
footer a {
  color: rgb(85, 82, 82);
}
.footer-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column; /**can use flex wrap so in that case dont need to worries about this thing**/
  }
}
li {
  line-height: 1.4;
  font-family: sans-serif;
}
.footer-box li a {
  color: black;

  text-decoration-line: none;
  font-size: 12px;
  font-weight: 200;
}
ul li a:hover{
text-decoration-line: underline;
color:blue;

}
